{% extends 'base.html' %}

{% block content %}
<h1>Choose Your Internship!</h1>
<p>Browse through the links below to find new internships:</p>
<ul>
    <li><a href="/internships/business-development">Business Development</a></li>
    <li><a href="/internships/computer-science">Computer Science</a></li>
    <li><a href="/internships/sports">Sports</a></li>
    <li><a href="/internships/medicine">Medicine</a></li>
    <li><a href="/internships/economics">Economics</a></li>
    <li><a href="/internships/statistics">Statistics</a></li>
    <li><a href="/internships/education">Education</a></li>
    <li><a href="/internships/marketing">Marketing</a></li>
    <li><a href="/internships/culinary">Culinary</a></li>
</ul>
{% endblock %}